body {
padding: 0;
margin: 0;
background: #000000;
color: #39250b;
font-family: verdana, serif;
font-size: 13px;
line-height: 16px;
}

p {
margin: 0 0 18px 0;
}

#preloader {
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color:#000000; /* change if the mask should have another color then white */
  z-index:99999; /* makes sure it stays on top */
  opacity: 1;
}
#status {
  width:200px;
  height:200px;
  position:absolute;
  left:50%; /* centers the loading animation horizontally one the screen */
  top:50%; /* centers the loading animation vertically one the screen */
  background-image:url(../images/loader.gif); /* path to your loading animation */
  background-repeat:no-repeat;
  background-position:center;
  margin:-100px 0 0 -100px; /* is width and height divided by two */
}

a.maillink {
color: #221c80 !important;
border-bottom: 1px solid #39250b;
}

a.maillink:hover {
text-decoration: none !important;
}

/*#scrollbarX {
	width: 100%;
	margin: 0;
	height: 825px;
	position: relative;
	background: url(../images/main-bg.jpg) left top no-repeat;
}*/

.main-header {
position: fixed;
width: 100%;
top: 0;
z-index: 2999;
}

.main-header .line-1 {
width: 100%;
height: 54px;
background: rgb(0,0,0);
background: rgba(0,0,0,0.9);
}

.main-header .line-1 .main-logo {
float: left;
margin: 12px 0 0 40px;
}

.main-header .line-1 .main-logo a {
	display: block;
	width: 426px;
	height: 42px;
	overflow: hidden;
	text-indent: -600px;
}

.ru-ru .main-header .line-1 .main-logo a {
	background: url(../images/logo.png) top left no-repeat;
}

.en-gb .main-header .line-1 .main-logo a {
	background: url(../images/logo-en.png) top left no-repeat;
}

.main-header .line-1 .lang-selector {
	float: right;
	margin: 10px 40px 0 0;
	/*padding: 0 60px 0 0;
	background: url(../images/lang.png) right center no-repeat;*/
}

.mod-languages {
	float: left;
}

.lang-selector object {
	float: right;
}

.main-header .line-1 .lang-selector ul {
	margin: 0;
}

.main-header .line-1 .lang-selector li {
	display: block !important;
}

.main-header .line-1 .lang-selector a {
	color: #e0bd89;
	font-weight: bold;
}

.main-header .line-1 .lang-selector .lang-active a {
	color: #94784e;
}

.main-header .line-2 {
	position: relative;
	height: 90px;
	background: rgb(93,59,34);
	background: rgba(93,59,34,0.8);
	border-top: 1px solid #8b6b46;
	/*border-bottom: 3px solid #8b6b46;*/
	/*margin: 0 0 40px;*/
}

.main-header .line-2 .bot-logo {
	position: absolute;
	top: 22px;
	left: 40px;
	width: 271px;
	height: 52px;
}

.ru-ru .main-header .line-2 .bot-logo {
background: url(../images/logo-2.png) top left no-repeat;
}

.en-gb .main-header .line-2 .bot-logo {
background: url(../images/logo-2-en.png) top left no-repeat;
}

.main-header .mainmenu {
position: relative;
margin: 0 auto;
width: 670px;
}

.main-header .mainmenu ul {
padding: 0;
margin: 0;
list-style: none;
}

.main-header .mainmenu ul li {
display: block;
float: left;
margin: 0 16px 0 0;
line-height: 90px;
}

.main-header .mainmenu ul li:last-child {margin: 0 !important;}

.main-header .mainmenu ul li.item-107, .main-header .mainmenu ul li.item-108 {
display: none !important;
}

.main-header .mainmenu ul li a {
color: #ffffff;
font-size: 16px;
text-decoration: none;
text-transform: uppercase;
}

.main-header .mainmenu ul li a:hover {
color: #c78453;

}

.main-header .mainmenu ul li.active a {
color: #c78453;
}

/* SECOND LEVEL MENU */

.main-header .mainmenu ul li.parent {
position: relative;
}

.main-header .mainmenu ul li.parent ul {
	display: none;
	width: 315px;
	position: absolute;
	left: -15px;
	top: 90px;
	padding: 15px 0;
	background: rgb(93,59,34);
	background: rgba(93,59,34,0.8);
	border: 3px solid #8b6b46;
	border-top: none;
}

.main-header .mainmenu ul li.parent:hover ul {
	display: block;
	z-index: 2999 !important;
}

.main-header .mainmenu ul li.parent ul li {
	line-height: 20px;
	padding: 0 15px;
	display: block;
	float: none;
}

.main-header .mainmenu ul li.parent ul li a {
	font-size: 12px;
	line-height: 24px;
	color: #e0be89;
}

.main-header .mainmenu ul li.parent ul li a:hover {
color: #c78453;
}

/* MENU MEGAFIX */

.item-102.deeper.parent:before, .item-109.deeper.parent:before {
position: absolute;
width: 4000px;
height: 3px;
background: #8b6b46;
top: 90px;
left: -1000px;
z-index: 99999;
content: " ";
}

.item-102.deeper.parent:hover:before, .item-109.deeper.parent:hover:before {
left: 305px;
}

.item-102.deeper.parent:hover:after, .item-109.deeper.parent:hover:after {
position: absolute;
width: 1000px;
height: 3px;
background: #8b6b46;
top: 90px;
left: -1015px;
z-index: 99999;
content: " ";
}



.phones {
	width: 229px;
	height: 46px;
	background: url(../images/phones.png) top left no-repeat;
	float: right;
	margin: 22px 40px 0 0;
}

.en-gb .phones{
	background: url(../images/phones-en.png) top left no-repeat;
}







.content-wrapper {
position: fixed;
width: 100%;
height: 540px;
top: 150px;
z-index: 100;
}

.content-wrapper .bg {
width: 100%;
height: 540px;
background: url(../images/content-bg.png) center no-repeat;
position: relative;
z-index: 1001;
}

#close-btn {
width: 30px;
height: 30px;
background: url(../images/close.png) no-repeat;
float: right;
cursor: pointer;
position: relative;
right: -120px;
top: 0;
}

#close-btn a {
display: block;
width: 100%;
height: 100%;
overflow: hidden;
text-indent: -300px;
}

#main-content {
padding: 40px 200px 40px 200px;
width: 600px;
height: 430px;
margin: 0 auto;
position: relative;
font-family: Tahoma,Arial,sans-serif;
}

#main-content .vscroll {
width: 640px;
height: 430px;
}

#main-content h1 {
color: #613603;
font-size: 16px;
font-weight: bold;
margin-bottom: 15px;
}

#main-content a {
color: #39250b;
text-decoration: none;
}

#main-content a:hover {
text-decoration: underline;
}

.item-page {
width: 100%;
}

#container {
width: 3480px;
}

#room1 {
width: 1891px;
background: url(../images/room1.jpg) no-repeat;
z-index: 3;
}

#room2 {
width: 1585px;
background: url(../images/room2.jpg) no-repeat;
z-index: 2;
left: -0px;
}

.box {
height: 825px;
float: left;
position: relative;
}

.scrollTo {
display: block;
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

.clock {
position: absolute;
right: 0px;
top: 154px;
width: 209px;
height: 687px;
}

.tip {
background: #e9c58f;
border: 1px solid #ad947e;
padding: 10px 7px;
font-weight: bold;
text-align: center;
max-width: 250px;
position: absolute;
top: 0px;
display: none;
z-index: 100;
}

#monet {
background: url(../images/monet.png) no-repeat;
width: 176px;
height: 170px;
display: block;
position: absolute;
top: 493px;
left: 140px;
}

#flag {
background: url(../images/flag.png) no-repeat;
width: 34px;
height: 94px;
display: block;
position: absolute;
top: 630px;
left: 205px;
}

#bear {
background: url(../images/bear.png) no-repeat;
width: 223px;
height: 87px;
display: block;
position: absolute;
top: 658px;
left: 235px;
}

#bell {
background: url(../images/bell.png) no-repeat;
width: 109px;
height: 199px;
position: absolute;
top: 530px;
left: 715px;
cursor: pointer;
}

#bell_form {
background: url(../images/bell_form.png) no-repeat;
width: 278px;
height: 284px;
padding: 0 30px;
position: absolute;
top: -150px;
left: -85px;
display: none;
}

#bell_form form{
    width: 210px;
    margin: 0 auto;
}
#bell_form input.rsform-input-box, #bell_form textarea{    
    width: 200px;
    margin-bottom: 5px;
    background: #ebc891;
    border-radius: 3px;
    border: 1px solid;
    color: #231001;
    padding-left: 8px;
    border-color: #97805d #c7ab7a #c7ab7a #97805d;
}
#bell_form input.rsform-input-box {
    height: 25px;
    line-height: 25px;
}
#bell_form textarea{
    resize: none;
    padding-top: 5px;
    height: 35px;
}
.rsform-submit-button{
    background: url(../images/button.png) repeat-x;
    width: 100%;
    height: 32px;
    cursor: pointer;
    color: #fff;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
    margin-top: 10px;
    border-radius: 5px;
    text-shadow: 1px -1px 1px rgba(0, 0, 0, 0.7);
	border: none;
}
.bform_title{
    padding-left: 10px;
    margin-top: 15px;
    color: #fde4be;
    text-align: center;
    font-size: 11px;
    /*font-weight: bold;*/
}
.error_send{
    height: 20px;
    line-height: 20px;
    padding-left: 10px;
    margin-bottom: 5px;
    font-size: 11px;
    color: #FF0000;
    text-align: center;
}


#book_logo {
background: url(../images/logo2.png) no-repeat;
width: 330px;
height: 299px;
display: block;
position: absolute;
top: 400px;
left: 930px;
}

#book {
background: url(../images/book.png) no-repeat;
width: 205px;
height: 112px;
display: block;
position: absolute;
top: 335px;
left: 938px;
}

#book a {
display: block;
color: #39250b;
width: 100%;
height: 100%;
}

#book_links {
display: block;
position: absolute;
top: 266px;
left: 94px;
cursor: pointer;
}

#book_links a {
text-decoration: none;
border: none;
}

#carousel1 {
width: 1200px;
height: 300px;
position: absolute !important;
left: 128px;
bottom: 186px;
}

#left-but, #right-but {
background: url(../images/l-r-but.png) no-repeat;
width: 23px;
height: 22px;
display: block!important;
position: absolute!important;
left: 1118px;
bottom: 360px;
cursor: pointer;
z-index: 2000;
}

#right-but {
background-position: -23px -22px;
left: 1143px;
}

#book_login {
    background: url(../images/book_login.png) no-repeat;
    width: 58px;
    height: 112px;
    display: block;
    position: absolute;
    top: 243px;
    left: 1109px;
    cursor: pointer;
	z-index: 1001;
}
#book_login .tip{
    left: -170px;
    top : 100px;
}
#book_login a{
    font-size: 14px;
    top: 50px;
    text-decoration: underline;
}
#book_login a:hover{
    text-decoration: none;
}

#svitok1{
    background: url(../images/svitok1.png) no-repeat;
    width: 131px;
    height: 62px;
    display: block;
    position: absolute;
    top: 423px;
    left: 1215px;
    cursor: pointer;
    border: none;
    z-index: 6;
}
#svitok1 .opened{
    background: url(../images/svitok1_opened.png) no-repeat;
    width: 224px;
    height: 261px;
    position: absolute;
    right: -32px;
    bottom: -30px;
    display: none;
    border: none;
    z-index: 6;
}
#svitok2{
    background: url(../images/svitok2.png) no-repeat;
    width: 235px;
    height: 134px;
    display: block;
    position: absolute;
    top: 360px;
    left: 1335px;
    cursor: pointer;
    border: none;
    z-index: 6;
}
#svitok2 .opened{
    background: url(../images/svitok2_opened.png) no-repeat;
    width: 222px;
    height: 255px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    display: none;
    border: none;
    z-index: 6;
}
#svitok3{
    background: url(../images/svitok3.png) no-repeat;
    width: 220px;
    height: 113px;
    display: block;
    position: absolute;
    top: 550px;
    left: 1330px;
    cursor: pointer;
    border: none;
    z-index: 6;
}
#svitok3 .opened{
    background: url(../images/svitok3_opened.png) no-repeat;
    width: 220px;
    height: 262px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    display: none;
    border: none;
    z-index: 6;
}

#svitok4{
    background: url(../images/svitok1.png) no-repeat;
    width: 131px;
    height: 62px;
    display: block;
    position: absolute;
    top: 423px;
    left: 1215px;
    cursor: pointer;
    border: none;
    z-index: 6;
}
#svitok4 .opened{
    background: url(../images/svitok1_opened_eng.png) no-repeat;
    width: 224px;
    height: 261px;
    position: absolute;
    right: -32px;
    bottom: -30px;
    display: none;
    border: none;
    z-index: 6;
}
#svitok5{
    background: url(../images/svitok2_eng.png) no-repeat;
    width: 222px;
    height: 108px;
    display: block;
    position: absolute;
    top: 385px;
    left: 1335px;
    cursor: pointer;
    border: none;
    z-index: 6;
}
#svitok5 .opened{
    background: url(../images/svitok2_opened_eng.png) no-repeat;
    width: 222px;
    height: 291px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    display: none;
    border: none;
    z-index: 6;
}
#svitok6{
    background: url(../images/svitok3.png) no-repeat;
    width: 220px;
    height: 113px;
    display: block;
    position: absolute;
    top: 550px;
    left: 1330px;
    cursor: pointer;
    border: none;
    z-index: 6;
}
#svitok6 .opened{
    background: url(../images/svitok3_opened_eng.png) no-repeat;
    width: 220px;
    height: 262px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    display: none;
    border: none;
    z-index: 6;
}

 .rotatingWrapper {
    position:absolute;
    /*
    width:200px;
    height:200px;
    */
    top:0px;
    left:0px;
}
.cloudcarousel{
    cursor: pointer;
    border: solid #441e01;
    border: solid rgba(173,143,101,0.82);
    border-width: 3px 3px;

}

/* MOD_LIBRARY */

.library-main {
position: absolute;
top: 148px;
left: 134px;
width: 1090px;
height: 305px;
z-index: 1000;
}

.library-main .customlink {
	position: absolute;
	
}

.library-main .customlink a {
	display: block;
	height: 100%;
	
}

.library-main .customlink:hover {
-webkit-box-shadow: 0px 0px 10px rgba(253, 236, 157, 0.9);
-moz-box-shadow:    0px 0px 10px rgba(253, 236, 157, 0.9);
box-shadow:         0px 0px 10px rgba(253, 236, 157, 0.9);
}

.library-main .customlink .tip {
	margin-top: 80px;
	min-width: 120px;
	color: #39250b;
}

.library-main .customlink.item-1 {
width: 22px;
height: 80px;
left: 84px;
top: 2px;
}
.library-main .customlink.item-2 {
width: 11px;
height: 66px;
top: 16px;
left: 134px;
}
.library-main .customlink.item-3 {
width: 9px;
height: 66px;
top: 16px;
left: 144px;
}
.library-main .customlink.item-4 {
width: 9px;
height: 66px;
top: 16px;
left: 154px;
}
.library-main .customlink.item-5 {
width: 14px;
height: 82px;
top: -1px;
left: 165px;
}
.library-main .customlink.item-6 {
width: 12px;
height: 82px;
top: -1px;
left: 179px;
}
.library-main .customlink.item-7 {
width: 9px;
height: 70px;
top: 125px;
left: 32px;
}
.library-main .customlink.item-8 {
width: 10px;
height: 70px;
top: 125px;
left: 41px;
}
.library-main .customlink.item-9 {
width: 10px;
height: 70px;
top: 125px;
left: 51px;
}
.library-main .customlink.item-10 {
width: 10px;
height: 70px;
top: 125px;
left: 61px;
}
.library-main .customlink.item-11 {
width: 22px;
height: 94px;
top: 100px;
left: 97px;
}
.library-main .customlink.item-12 {
width: 22px;
height: 94px;
top: 100px;
left: 120px;
}
.library-main .customlink.item-13 {
width: 22px;
height: 94px;
top: 100px;
left: 142px;
}
.library-main .customlink.item-14 {
width: 22px;
height: 94px;
top: 100px;
left: 165px;
}
.library-main .customlink.item-15 {
width: 14px;
height: 75px;
top: 230px;
left: 35px;
}
.library-main .customlink.item-16 {
width: 14px;
height: 75px;
top: 230px;
left: 50px;
}
.library-main .customlink.item-17 {
width: 12px;
height: 82px;
top: 222px;
left: 130px;
}
.library-main .customlink.item-18 {
width: 11px;
height: 73px;
top: 232px;
left: 143px;
}
.library-main .customlink.item-19 {
width: 22px;
height: 80px;
left: 283px;
top: 0;
}
.library-main .customlink.item-20 {
width: 22px;
height: 80px;
left: 305px;
top: 0;
}
.library-main .customlink.item-21 {
width: 22px;
height: 80px;
left: 328px;
top: 0;
}
.library-main .customlink.item-22 {
width: 22px;
height: 80px;
left: 351px;
top: 0;
}
.library-main .customlink.item-23 {
width: 22px;
height: 80px;
left: 373px;
top: 0;
}
.library-main .customlink.item-24 {
width: 21px;
height: 80px;
left: 396px;
top: 0;
}
.library-main .customlink.item-25 {
width: 22px;
height: 80px;
left: 418px;
top: 0;}
.library-main .customlink.item-26 {
width: 22px;
height: 80px;
left: 441px;
top: 0;
}
.library-main .customlink.item-27 {
width: 22px;
height: 80px;
left: 464px;
top: 0;
}
.library-main .customlink.item-28 {
width: 22px;
height: 80px;
left: 487px;
top: 0;
}
.library-main .customlink.item-29 {
width: 22px;
height: 80px;
left: 510px;
top: 0;
}
.library-main .customlink.item-30 {
width: 22px;
height: 96px;
left: 287px;
top: 98px;
}
.library-main .customlink.item-31 {
width: 22px;
height: 96px;
left: 309px;
top: 98px;
}
.library-main .customlink.item-32 {
width: 22px;
height: 96px;
left: 330px;
top: 98px;
}
.library-main .customlink.item-33 {
width: 22px;
height: 96px;
left: 354px;
top: 98px;
}
.library-main .customlink.item-34 {
width: 22px;
height: 96px;
left: 377px;
top: 98px;
}
.library-main .customlink.item-35 {
width: 21px;
height: 96px;
left: 400px;
top: 98px;
}
.library-main .customlink.item-36 {
width: 22px;
height: 96px;
left: 422px;
top: 98px;
}
.library-main .customlink.item-37 {
width: 22px;
height: 96px;
left: 445px;
top: 98px;
}
.library-main .customlink.item-38 {
width: 22px;
height: 96px;
left: 469px;
top: 98px;
}
.library-main .customlink.item-39 {
width: 22px;
height: 96px;
left: 492px;
top: 98px;
}
.library-main .customlink.item-40 {
width: 15px;
height: 96px;
left: 515px;
top: 98px;
}
.library-main .customlink.item-41 {
width: 23px;
height: 100px;
left: 297px;
top: 203px;
}
.library-main .customlink.item-42 {
width: 23px;
height: 100px;
left: 320px;
top: 203px;
}
.library-main .customlink.item-43 {
width: 23px;
height: 95px;
left: 347px;
top: 208px;
}
.library-main .customlink.item-44 {
width: 23px;
height: 95px;
left: 370px;
top: 208px;
}
.library-main .customlink.item-45 {
width: 23px;
height: 95px;
left: 393px;
top: 208px;
}
.library-main .customlink.item-46 {
width: 23px;
height: 95px;
left: 416px;
top: 208px;
}
.library-main .customlink.item-47 {
width: 23px;
height: 95px;
left: 440px;
top: 208px;
}
.library-main .customlink.item-48 {
width: 23px;
height: 95px;
left: 463px;
top: 208px;
}
.library-main .customlink.item-49 {
width: 23px;
height: 95px;
left: 486px;
top: 208px;
}
.library-main .customlink.item-50 {
width: 23px;
height: 95px;
left: 511px;
top: 208px;
}
.library-main .customlink.item-51 {
width: 13px;
height: 92px;
top: 96px;
left: 567px;
}
.library-main .customlink.item-52 {
width: 13px;
height: 92px;
top: 96px;
left: 580px;
}
.library-main .customlink.item-53 {
width: 13px;
height: 92px;
top: 96px;
left: 593px;
}
.library-main .customlink.item-54 {
width: 13px;
height: 83px;
top: 106px;
left: 609px;
}
.library-main .customlink.item-55 {
width: 13px;
height: 75px;
top: 114px;
left: 622px;
}
.library-main .customlink.item-56 {
width: 13px;
height: 74px;
top: 115px;
left: 635px;
}
.library-main .customlink.item-57 {
width: 13px;
height: 73px;
top: 116px;
left: 648px;
}
.library-main .customlink.item-58 {
width: 13px;
height: 73px;
top: 116px;
left: 661px;
}
.library-main .customlink.item-59 {
width: 13px;
height: 73px;
top: 116px;
left: 672px;
}
.library-main .customlink.item-60 {
width: 25px;
height: 71px;
top: 118px;
left: 771px;
}
.library-main .customlink.item-61 {
width: 14px;
height: 71px;
top: 118px;
left: 796px;
}
.library-main .customlink.item-62 {
width: 15px;
height: 68px;
top: 14px;
left: 843px;
}
.library-main .customlink.item-63 {
width: 15px;
height: 68px;
top: 14px;
left: 858px;
}
.library-main .customlink.item-64 {
width: 15px;
height: 72px;
top: 10px;
left: 876px;
}
.library-main .customlink.item-65 {
width: 15px;
height: 81px;
top: 0px;
left: 893px;
}
.library-main .customlink.item-66 {
width: 12px;
height: 81px;
top: 0px;
left: 908px;
}
.library-main .customlink.item-67 {
width: 17px;
height: 81px;
top: 2px;
left: 922px;
}
.library-main .customlink.item-68 {
width: 17px;
height: 81px;
top: 2px;
left: 939px;
}
.library-main .customlink.item-69 {
width: 19px;
height: 81px;
top: 2px;
left: 957px;
}
.library-main .customlink.item-70 {
width: 19px;
height: 81px;
top: 2px;
left: 978px;
}
.library-main .customlink.item-71 {
width: 16px;
height: 81px;
top: 2px;
left: 996px;
}
.library-main .customlink.item-72 {
width: 19px;
height: 81px;
top: 2px;
left: 1012px;
}
.library-main .customlink.item-73 {
width: 16px;
height: 81px;
top: 2px;
left: 1034px;
}
.library-main .customlink.item-74 {
width: 16px;
height: 81px;
top: 2px;
left: 1051px;
}
.library-main .customlink.item-75 {
width: 16px;
height: 81px;
top: 2px;
left: 1070px;
}
.library-main .customlink.item-76 {
width: 14px;
height: 83px;
top: 114px;
left: 843px;
}
.library-main .customlink.item-77 {
width: 14px;
height: 83px;
top: 114px;
left: 857px;
}
.library-main .customlink.item-78 {
width: 14px;
height: 83px;
top: 114px;
left: 871px;
}
.library-main .customlink.item-79 {
width: 14px;
height: 83px;
top: 114px;
left: 885px;
}
.library-main .customlink.item-80 {
width: 14px;
height: 83px;
top: 114px;
left: 899px;
}
.library-main .customlink.item-81 {
width: 14px;
height: 83px;
top: 114px;
left: 913px;
}
.library-main .customlink.item-82 {
width: 13px;
height: 84px;
top: 112px;
left: 930px;
}
.library-main .customlink.item-83 {
width: 12px;
height: 84px;
top: 112px;
left: 943px;
}
.library-main .customlink.item-84 {
width: 17px;
height: 84px;
top: 112px;
left: 955px;
}
.library-main .customlink.item-85 {
width: 14px;
height: 86px;
top: 109px;
left: 1046px;
}
.library-main .customlink.item-86 {
width: 15px;
height: 91px;
top: 103px;
left: 1060px;
}
.library-main .customlink.item-87 {
width: 15px;
height: 91px;
top: 103px;
left: 1075px;
}
.library-main .customlink.item-88 {
width: 14px;
height: 80px;
top: 223px;
left: 851px;
}
.library-main .customlink.item-89 {
width: 14px;
height: 80px;
top: 223px;
left: 865px;
}
.library-main .customlink.item-90 {
width: 15px;
height: 80px;
top: 223px;
left: 879px;
}
.library-main .customlink.item-91 {
width: 15px;
height: 80px;
top: 223px;
left: 897px;
}
.library-main .customlink.item-92 {
width: 15px;
height: 80px;
top: 223px;
left: 915px;
}
.library-main .customlink.item-93 {
width: 19px;
height: 80px;
top: 223px;
left: 932px;
}
.library-main .customlink.item-94 {
width: 17px;
height: 80px;
top: 223px;
left: 951px;
}
.library-main .customlink.item-95 {
width: 19px;
height: 80px;
top: 223px;
left: 968px;
}
.library-main .customlink.item-96 {
width: 17px;
height: 80px;
top: 223px;
left: 989px;
}
.library-main .customlink.item-97 {
width: 17px;
height: 80px;
top: 223px;
left: 1006px;
}
.library-main .customlink.item-98 {
width: 12px;
height: 71px;
top: 231px;
left: 1024px;
}
.library-main .customlink.item-99 {
width: 11px;
height: 71px;
top: 230px;
left: 1044px;
}
.library-main .customlink.item-100 {
width: 11px;
height: 71px;
top: 230px;
left: 1055px;
}

.library-main .customlink.item-101 {
width: 8px;
height: 69px;
left: 28px;
top: 12px;
}
.library-main .customlink.item-102 {
width: 9px;
height: 69px;
left: 36px;
top: 12px;
}
.library-main .customlink.item-103 {
width: 9px;
height: 69px;
left: 46px;
top: 12px;
}
.library-main .customlink.item-104 {
width: 9px;
height: 69px;
top: 12px;
left: 55px;
}
.library-main .customlink.item-105 {
width: 9px;
height: 69px;
top: 12px;
left: 57px;
}
.library-main .customlink.item-106 {
width: 9px;
height: 69px;
top: 12px;
left: 67px;
}
.library-main .customlink.item-107 {
width: 8px;
height: 69px;
top: 12px;
left: 77px;
}
.library-main .customlink.item-108 {
width: 8px;
height: 70px;
top: 124px;
left: 32px;
}
.library-main .customlink.item-109 {
width: 8px;
height: 70px;
top: 124px;
left: 41px;
}
.library-main .customlink.item-110 {
width: 8px;
height: 70px;
top: 124px;
left: 51px;
}
.library-main .customlink.item-111 {
width: 9px;
height: 70px;
top: 124px;
left: 61px;
}
.library-main .customlink.item-112 {
width: 8px;
height: 70px;
top: 124px;
left: 70px;
}
.library-main .customlink.item-113 {
width: 8px;
height: 70px;
top: 124px;
left: 79px;
}
.library-main .customlink.item-114 {
width: 8px;
height: 70px;
top: 124px;
left: 88px;
}
.library-main .customlink.item-115 {
width: 11px;
height: 69px;
top: 236px;
left: 1px;
}
.library-main .customlink.item-116 {
width: 11px;
height: 69px;
top: 236px;
left: 12px;
}
.library-main .customlink.item-117 {
width: 11px;
height: 69px;
top: 236px;
left: 22px;
}
.library-main .customlink.item-118 {
width: 9px;
height: 69px;
top: 236px;
left: 67px;
}
.library-main .customlink.item-119 {
width: 9px;
height: 69px;
top: 236px;
left: 77px;
}
.library-main .customlink.item-120 {
width: 9px;
height: 69px;
top: 236px;
left: 87px;
}

.library-main .customlink.item-121 {
width: 9px;
height: 69px;
top: 236px;
left: 102px;
}
.library-main .customlink.item-122 {
width: 9px;
height: 69px;
top: 236px;
left: 113px;
}
.library-main .customlink.item-123 {
width: 8px;
height: 69px;
top: 236px;
left: 122px;
}
.library-main .customlink.item-124 {
width: 7px;
height: 61px;
top: 242px;
left: 154px;
}
.library-main .customlink.item-125 {
width: 7px;
height: 61px;
top: 242px;
left: 161px;
}
.library-main .customlink.item-126 {
width: 7px;
height: 61px;
top: 242px;
left: 170px;
}
.library-main .customlink.item-127 {
width: 7px;
height: 61px;
top: 242px;
left: 178px;
}
.library-main .customlink.item-128 {
width: 7px;
height: 61px;
top: 242px;
left: 186px;
}
.library-main .customlink.item-129 {
width: 9px;
height: 69px;
left: 628px;
top: 8px;
}
.library-main .customlink.item-130 {
width: 9px;
height: 69px;
left: 638px;
top: 8px;
}
.library-main .customlink.item-131 {
width: 9px;
height: 69px;
left: 648px;
top: 8px;
}
.library-main .customlink.item-132 {
width: 9px;
height: 69px;
left: 658px;
top: 8px;
}
.library-main .customlink.item-133 {
width: 8px;
height: 69px;
left: 668px;
top: 8px;
}
.library-main .customlink.item-134 {
width: 8px;
height: 63px;
left: 676px;
top: 13px;
}
.library-main .customlink.item-135 {
width: 7px;
height: 63px;
left: 685px;
top: 13px;
}
.library-main .customlink.item-136 {
width: 7px;
height: 69px;
left: 693px;
top: 8px;
}
.library-main .customlink.item-137 {
width: 7px;
height: 69px;
left: 701px;
top: 8px;
}
.library-main .customlink.item-138 {
width: 8px;
height: 69px;
left: 709px;
top: 8px;
}
.library-main .customlink.item-139 {
width: 7px;
height: 69px;
left: 719px;
top: 8px;
}
.library-main .customlink.item-140 {
width: 7px;
height: 69px;
left: 728px;
top: 8px;
}
.library-main .customlink.item-141 {
width: 7px;
height: 69px;
left: 738px;
top: 8px;
}
.library-main .customlink.item-142 {
width: 7px;
height: 69px;
left: 748px;
top: 8px;
}
.library-main .customlink.item-143 {
width: 7px;
height: 69px;
left: 757px;
top: 8px;
}
.library-main .customlink.item-144 {
width: 7px;
height: 69px;
left: 765px;
top: 8px;
}
.library-main .customlink.item-145 {
width: 7px;
height: 69px;
left: 773px;
top: 8px;
}
.library-main .customlink.item-146 {
width: 7px;
height: 69px;
left: 782px;
top: 8px;
}
.library-main .customlink.item-147 {
width: 7px;
height: 69px;
left: 793px;
top: 8px;
}
.library-main .customlink.item-148 {
width: 7px;
height: 69px;
left: 802px;
top: 8px;
}
.library-main .customlink.item-149 {
width: 10px;
height: 66px;
left: 595px;
top: 236px;
}
.library-main .customlink.item-150 {
width: 10px;
height: 66px;
left: 605px;
top: 236px;
}

.library-main .customlink.item-151 {
width: 9px;
height: 42px;
top: 40px;
left: 18px;
}
.library-main .customlink.item-152 {
width: 7px;
height: 54px;
top: 27px;
left: 109px;
}
.library-main .customlink.item-153 {
width: 7px;
height: 54px;
top: 27px;
left: 118px;
}
.library-main .customlink.item-154 {
width: 7px;
height: 54px;
top: 27px;
left: 126px;
}
.library-main .customlink.item-155 {
width: 9px;
height: 73px;
top: 116px;
left: 686px;
}
.library-main .customlink.item-156 {
width: 9px;
height: 70px;
top: 119px;
left: 698px;
}
.library-main .customlink.item-157 {
width: 9px;
height: 68px;
top: 121px;
left: 708px;
}
.library-main .customlink.item-158 {
width: 11px;
height: 71px;
top: 118px;
left: 719px;
}
.library-main .customlink.item-159 {
width: 12px;
height: 71px;
top: 118px;
left: 732px;
}
.library-main .customlink.item-160 {
width: 10px;
height: 71px;
top: 118px;
left: 745px;
}
.library-main .customlink.item-161 {
width: 10px;
height: 71px;
top: 118px;
left: 758px;
}
.library-main .customlink.item-162 {
width: 6px;
height: 68px;
top: 235px;
left: 565px;
}
.library-main .customlink.item-163 {
width: 7px;
height: 68px;
top: 235px;
left: 571px;
}
.library-main .customlink.item-164 {
width: 7px;
height: 68px;
top: 235px;
left: 580px;
}
.library-main .customlink.item-165 {
width: 7px;
height: 68px;
top: 235px;
left: 588px;
}
.library-main .customlink.item-166 {
width: 7px;
height: 66px;
top: 236px;
left: 616px;
}
.library-main .customlink.item-167 {
width: 7px;
height: 66px;
top: 236px;
left: 624px;
}
.library-main .customlink.item-168 {
width: 7px;
height: 66px;
top: 236px;
left: 632px;
}
.library-main .customlink.item-169 {
width: 7px;
height: 66px;
top: 236px;
left: 642px;
}
.library-main .customlink.item-170 {
width: 7px;
height: 66px;
top: 236px;
left: 651px;
}
.library-main .customlink.item-171 {
width: 7px;
height: 66px;
top: 236px;
left: 660px;
}
.library-main .customlink.item-172 {
width: 7px;
height: 66px;
top: 236px;
left: 669px;
}
.library-main .customlink.item-173 {
width: 7px;
height: 66px;
top: 236px;
left: 678px;
}
.library-main .customlink.item-174 {
width: 7px;
height: 66px;
top: 236px;
left: 689px;
}
.library-main .customlink.item-175 {
width: 7px;
height: 66px;
top: 236px;
left: 698px;
}
.library-main .customlink.item-176 {
width: 7px;
height: 66px;
top: 236px;
left: 706px;
}
.library-main .customlink.item-177 {
width: 7px;
height: 66px;
top: 236px;
left: 717px;
}
.library-main .customlink.item-178 {
width: 7px;
height: 66px;
top: 236px;
left: 727px;
}
.library-main .customlink.item-179 {
width: 7px;
height: 66px;
top: 236px;
left: 737px;
}
.library-main .customlink.item-180 {
width: 7px;
height: 66px;
top: 236px;
left: 747px;
}
.library-main .customlink.item-181 {
width: 7px;
height: 66px;
top: 236px;
left: 758px;
}
.library-main .customlink.item-182 {
width: 7px;
height: 66px;
top: 236px;
left: 767px;
}
.library-main .customlink.item-183 {
width: 7px;
height: 66px;
top: 236px;
left: 775px;

}
.library-main .customlink.item-184 {
width: 7px;
height: 66px;
top: 236px;
left: 783px;
}
.library-main .customlink.item-185 {
width: 7px;
height: 66px;
top: 236px;
left: 793px;
}
.library-main .customlink.item-186 {
width: 7px;
height: 66px;
top: 236px;
left: 801px;
}
.library-main .customlink.item-187 {
width: 17px;
height: 80px;
top: 116px;
left: 975px;
}
.library-main .customlink.item-188 {
width: 17px;
height: 80px;
top: 116px;
left: 995px;
}
.library-main .customlink.item-189 {
width: 15px;
height: 85px;
top: 109px;
left: 1016px;
}
.library-main .customlink.item-190 {
width: 15px;
height: 85px;
top: 109px;
left: 1031px;
}
.library-main .customlink.item-191 {
width: 7px;
height: 70px;
top: 231px;
left: 1036px;
}
.library-main .customlink.item-192 {
width: 8px;
height: 80px;
top: 223px;
left: 841px;
}
.library-main .customlink.item-193 {
width: 9px;
height: 71px;
top: 230px;
left: 1068px;
}
.library-main .customlink.item-194 {
width: 9px;
height: 69px;
left: 618px;
top: 8px;
}
.library-main .customlink.item-195 {
width: 9px;
height: 69px;
left: 609px;
top: 8px;
}
.library-main .customlink.item-196 {
width: 9px;
height: 69px;
left: 600px;
top: 8px;
}
.library-main .customlink.item-197 {
width: 9px;
height: 69px;
left: 590px;
top: 8px;
}
.library-main .customlink.item-198 {
width: 9px;
height: 69px;
left: 582px;
top: 8px;
}
.library-main .customlink.item-199 {
width: 9px;
height: 69px;
left: 564px;
top: 8px;
}
.library-main .customlink.item-200 {

}