/* Tiny Scrollbar */

#scrollbarX { width: 100%; margin: 0; height: 825px; position: relative;}
#scrollbarX .viewport { width: 100%; height: 825px; overflow: hidden; position: relative; }
#scrollbarX .overview { list-style: none;/* width: 1416px; */padding: 0; margin: 0; position: absolute; left: 0; top: 0;  }
#scrollbarX .overview img{ float: left; }
#scrollbarX .scrollbar{ 
    background: transparent url(../images/track.png) repeat-x 0 0; 
    position: fixed; 
    bottom: 0; 
    height: 18px; 
    z-index:2000;
}
#scrollbarX .track { 
    background: transparent url(../images/track.png) no-repeat; 
    width: 22px; 
    height:18px; 
    position: relative;   
}
#scrollbarX .thumb { background: transparent url(../images/handle.png) repeat-x; height: 20px; cursor: pointer; overflow: hidden; position: absolute; left: 0; top: -1px;border-radius:10px; }
/*#scrollbarX .thumb .end{ background: transparent url(../images/bg-scrollbar-thumb-x.png) no-repeat 0 50%; overflow: hidden; height: 25px; width: 5px;}*/
#scrollbarX .disable { display: none; }
#scrollbarX .scroll_left{
    width: 30px;
    height: 22px;
    background: transparent url(../images/scroll_left.png) no-repeat;
    position: absolute;
    float: left;
    left: 0;
    top: -1px;
    z-index: 11;
    cursor: pointer;
}
#scrollbarX .scroll_right{
    width: 30px;
    height: 22px;
    background: transparent url(../images/scroll_right.png) no-repeat;
    position: absolute;
    right: 0px;    
    top: -1px;
    z-index: 11;
    cursor: pointer;
}

#scrollbarY { width: 600px; height: 400px;  margin: 0 auto 0; position: relative;}
#scrollbarY .viewportY { width: 570px; height: 400px; overflow: hidden; position: relative; }
#scrollbarY .overviewY { list-style: none; position: absolute; left: 0; top: 0; padding: 0; margin: 0; }
#scrollbarY .scrollbarY{ background: transparent url(../images/trackY.png) no-repeat 50% 0; position: absolute; width: 12px!important; right: -30px; top: 0 }
#scrollbarY .trackY { background: transparent url(../images/trackY.png) repeat-y 50% 0; height: 100%; width:12px!important; position: relative; }
#scrollbarY .thumbY { background: transparent url(../images/handleY.png) repeat-y 50% 0; height: 22px; width: 12px!important; cursor: pointer; overflow: hidden; position: absolute; top: 0; border-radius: 0; }
/*#scrollbarY .thumb .end { background: transparent url(../images/handleY.png) repeat-y 50% 0; overflow: hidden; height: 5px; width: 14px; }*/
#scrollbarY .disable { display: none; }
