<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="" />
    <meta name="keywords" content="{$keywords}"  />
    <meta name="description" content="{$description}" />
    <!--[if lt IE 9]>
    <link rel="stylesheet" href="css/ie_7_8.css" type="text/css" />
    <![endif]-->
    <?php  if (isset($_GET['eng'])){echo '_eng'} ?>
     <link rel="stylesheet" href="css/style.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="css/style.css" type="text/css" media="screen" />
    <?php }?>
    <link rel="stylesheet" href="css/tinyscrollbar.css" type="text/css" media="screen" />        
    
	<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js'></script>
	<script src="js/jquery.mousewheel.min.js" type="text/javascript"></script> 
    <!--<script src="js/jquery.localscroll-min.js" type="text/javascript"></script>
	<script src="js/jquery.scrollTo-min.js" type="text/javascript"></script>-->
    <script src="js/jquery.tinyscrollbar.min.js" type="text/javascript"></script> 
    <script type="text/javascript" src="js/jqueryrotate.2.1.js"></script>
    <script src="js/cloud-carousel.1.0.5.min.js" type="text/javascript"></script>      
    
    <script src="js/script.js" type="text/javascript"></script>
    
    <title>{$title}</title>
</head>
<body id="body">
    <div id="header">
        <a class="scroller" href="#room1" id="logo" title=""></a>       
        
        <div id="soc">            
            <!--<div class="soc_buttons">
                <a href="" title="" id="tw_but"></a>
                <a href="" title="" id="rss_but"></a>
                <a href="" title="" id="fb_but"></a>
                <a href="" title="" id="vk_but"></a>
            </div>-->
            <div class="langs">
                <a href="?rus" title="">Rus</a><br />
                <a href="?eng" title="">Eng</a>
            </div>
        </div>
    </div>